body{
  margin: 0;
  padding: 0;
  background: url(g6.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
.topright{
      position: absolute;
      top: 8px;
      right: 16px;
      font-size: 18px;
      font-weight: bold;
      font-family: consolas;
      }
.login-form{
  width: 300px;
  padding: 20px;
  text-align: center;
  background: url(bg3.jpg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
}
.login-form h1{
  margin-top: 100px;
  font-family: 'Bellota', cursive;
  font-weight: bolder;
  color: #fff;
  font-size: 40px;
}
.login-form input{
  display: block;
  width: 100%;
  padding: 0 16px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: 'Bellota', cursive;
}
.txtb{
  margin: 20px 0;
  background: white;
  border-radius: 6px;
}
.login-btn{
  margin-top: 60px;
  margin-bottom: 20px;
  background: #487eb0;
  color: #fff;
  border-radius: 64px;
  cursor: pointer;
  transition: 0.8s;
}
.login-btn:hover{
  transform: scale(0.96);
}
.login-form a{
  text-decoration: none;
  color: #fff;
  font-family: 'Bellota', cursive;
  font-size: 14px;
  padding: 10px;
  transition: 0.8s;
  display: block;
}
.login-form a:hover{
  background: rgba(0,0,0,.3);
}
